<header class="topbar">
  <div class="brand">GEstidlo MVP</div>
  <nav class="nav">
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/alerts" routerLinkActive="active">Alertes</a>
    <a routerLink="/tickets" routerLinkActive="active">Tickets</a>
    <a routerLink="/processes" routerLinkActive="active">Process</a>
    <a routerLink="/history" routerLinkActive="active">Historique</a>
  </nav>
  <div class="links">
    <a href="http://localhost:9080/camunda/app/cockpit/default/" target="_blank">Cockpit</a>
  </div>
</header>

<main class="container">
  <router-outlet></router-outlet>
</main>
