name: Backend Build

on:
  push:
    paths:
      - "backend/**"
      - "frontend/bff/**"
  pull_request:
    paths:
      - "backend/**"
      - "frontend/bff/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          [
            backend/camunda-engine,
            backend/camunda-api,
            backend/api-metier,
            frontend/bff,
          ]

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: maven

      - name: Build with Maven
        working-directory: ${{ matrix.service }}
        run: mvn clean install -DskipTests
